name: push
description: Push notifications in Flutter without firebase_messaging.
version: 2.1.1
repository: https://github.com/ben-xD/push
issue_tracker: https://github.com/ben-xD/push/issues?q=is%3Aissue+is%3Aopen
homepage: https://orth.uk/

environment:
  sdk: ">=2.12.0 <4.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

  # Federated package dependencies
  push_platform_interface: ^0.5.0
  push_android: ^0.5.1
  push_ios: ^0.4.0
  push_macos: ^0.0.1
  # End of federated package dependencies

  # When developing push locally, make sure
  # For example, I often make the mistake where I update the local cache
  # of published push_ios, then try and run the app using the local push_ios.
  # My changes don't get to run.
  # A huge pain of federated packages.

  # Local development dependencies -
  # uncomment this and comment out the federated package dependencies
  # push_platform_interface:
  #   path: "../push_platform_interface"
  # push_android:
  #   path: "../push_android"
  # push_ios:
  #   path: "../push_ios"
#    push_macos:
#      path: "../push_macos"
# End of local development dependencies

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.4

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  uses-material-design: false
  plugin:
    platforms:
      android:
        default_package: push_android
      ios:
        default_package: push_ios
  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
